@model test.Data.ViewModels.GeneralSettingsViewModel
@{
    ViewData["Title"] = "Index";
}
<section id="horizontal-form-layouts">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        @using (Html.BeginForm("UpdateWeeklyHoliday", "GeneralSettings", FormMethod.Post, new { @class = "form form-horizontal" }))
                        {

                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="icon-user"></i>General information
                                </h4>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Extra, new { @class = "col-md-3 label-control" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Extra, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Extra, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Discount, new { @class = "col-md-3 label-control" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Discount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="projectinput7">Weekly Holidays: </label>
                                    <div class="col-md-9">
                                        <div>
                                            @for (var i = 0; i < Model.weeklyHolidays.Count; i++)
                                            {
                                                <div>
                                                    @Html.CheckBoxFor(x => Model.weeklyHolidays[i].IsDayOff)
                                                    @Model.weeklyHolidays[i].Name
                                                    @Html.HiddenFor(x => Model.weeklyHolidays[i].Id)
                                                    @Html.HiddenFor(x => Model.weeklyHolidays[i].Name)

                                                </div>
                                            }
                                            <input type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}